title: Goodbye Glaciers!?
logo_left: "assets/images/logos/logo_iygp_en.svg"
logo_right: "assets/images/logos/logo_uibk.jpg"
email: patrick.schmitt@uibk.ac.at
description: >- # this means to ignore newlines until "baseurl:"
  A hiking signpost project to raise glacier loss awareness
#twitter_username: username
#github_username: username
baseurl: ""
url: "https://goodbye-glaciers.info"


minimal_mistakes_skin: default # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
search: true

# Language stuff
languages: ["en", "de", "it", "fr"]
default_lang: "en"
exclude_from_localization:
  - assets

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme
  - jekyll-multiple-languages-plugin

collections:
  glaciers:
    output: true
  signposts:
    output: true
  events:
    output: true
    sort_by: date
  qr_codes:
    output: true
  photos:
    output: false

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/pat-schmitt/goodbye_glaciers/"
atom_feed:
  hide: true
 
defaults:
  - scope:
      path: ""
      type: "signposts"
    values:
      layout: signposts
  - scope:
      path: ""
      type: "glaciers"
    values:
      layout: glaciers
  - scope:
      path: ""
    values:
      layout: splash
      lang: en
  - scope:
      path: "de"
    values:
      layout: splash
      lang: en
  - scope:
      path: "it"
    values:
      layout: splash
      lang: en
  - scope:
      path: "fr"
    values:
      layout: splash
      lang: en
