<div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="2500">
  <!-- Indicators -->
  <div class="carousel-indicators">
    {% for image in page.gallery %}
      <button type="button" data-bs-target="#gallery-carousel" data-bs-slide-to="{{ forloop.index0 }}"
        class="{% if forloop.first %}active{% endif %}"
        aria-label="Slide {{ forloop.index }}"></button>
    {% endfor %}
  </div>
  
  <!-- Slides -->
  <div class="carousel-inner">
    {% for image in page.gallery %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <!-- Image -->
        <a href="{{ image.url }}">
          <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.alt }}">
        </a>
        <!-- Caption below the image -->
        {% if image.title %}
          <div class="custom-carousel-caption">
            <p>{{ image.title }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  <!-- Navigation Arrows -->
  <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
