<div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="3000">
  <!-- Indicators -->
  {% if gallery.size > 1 %}
    <div class="carousel-indicators">
      {% for image in gallery %}
        <button type="button" data-bs-target="#gallery-carousel" data-bs-slide-to="{{ forloop.index0 }}"
          class="{% if forloop.first %}active{% endif %}"
          aria-label="Slide {{ forloop.index }}"></button>
      {% endfor %}
    </div>
  {% endif %}
  
  <!-- Slides -->
  <div class="carousel-inner">
    {% for image in gallery %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <!-- Image -->
        <a href="{{ image.url }}">
          <img src="{{ image.url }}" class="d-block mx-auto carousel-image" alt="{{ image.alt }}">
        </a>
        <!-- Caption below the image -->
        {% if image.title %}
          {% assign image_title = image.title %}
          {% if image.title_de %}
            {% case site.lang %}
              {% when "de" %}{% assign image_title = image.title_de %}
              {% when "it" %}{% assign image_title = image.title_it %}
              {% when "fr" %}{% assign image_title = image.title_fr %}
            {% endcase %}
          {% endif %}
          <div class="custom-carousel-caption">
            <p>{{ image_title }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  
  <!-- Navigation Arrows -->
  {% if gallery.size > 1 %}
    <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}
</div>
