<p>
    L'<b><a href="https://climateactiontracker.org/global/cat-thermometer/">
    impact des politiques actuelles</a></b> estime que le réchauffement climatique atteindra <b>2,7°C</b> d'ici 2100,
    bien au-dessus de l'objectif de l'<b><a href="https://unfccc.int/process-and-meetings/the-paris-agreement">
    Accord de Paris</a></b> de limiter le réchauffement à <b>1,5°C</b>.
</p>

<div class="tab-container" id="container1">
    <!-- Tab buttons -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'Video1', 'container1')">2,7°C</button>
        <button class="tab-button" onclick="openTab(event, 'Video2', 'container1')">1,5°C</button>
        <button class="tab-button" onclick="openTab(event, 'Video3', 'container1')">1,5°C vs. 2,7°C</button>
    </div>

    <!-- Tab content -->
    <div id="Video1" class="tab-content" style="max-width: 500px;">
        <video autoplay loop muted playsinline controls>
            <source src="{{ page.animation_27 }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="Video2" class="tab-content" style="max-width: 500px; display: none;">
        <video autoplay loop muted playsinline controls>
            <source src="{{ page.animation_15 }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="Video3" class="tab-content" style="display: none;">
        <video autoplay loop muted playsinline controls>
            <source src="{{ page.animation_both }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <i>Astuce : Tournez votre téléphone et passez en plein écran.</i>
    </div>
</div>
<br>

<p>
    Le {{ page.title }} avait un volume estimé à {{ page.vol2020_km3 }} km³ en
    2020 et devrait avoir presque disparu d'ici
    {{ page.deglac_yr_2_7deg_10perc_e-2km3_q50 | floor }}
    (<a href="{{ site.baseurl }}/methods/#likely-range">plage probable</a> :
    {{ page.deglac_yr_2_7deg_10perc_e-2km3_q17 | floor }} -
    {% if page.deglac_yr_2_7deg_10perc_e-2km3_q83 %}
        {{ page.deglac_yr_2_7deg_10perc_e-2km3_q83 | default: 0 | floor }}
    {% else %}
        après 2100
    {% endif %})
    pour un réchauffement climatique de 2,7°C
    (<a href="https://climateactiontracker.org/global/cat-thermometer/">politiques actuelles</a>).
    Nous définissons <b>'presque disparu'</b> comme l'année où une des deux limites suivantes est franchie: moins de 10% du
    volume glaciaire de 2020 ou moins de 0,01 km³ - quelle que soit
    la première limite franchie.<br><br>

    <!--Commentaire : n'afficher la phrase "plus tard" que si la déglaciation se produit à 1,5°C   -->
    Si le réchauffement climatique est limité à 1,5°C en 2100,
    (<a href="https://unfccc.int/process-and-meetings/the-paris-agreement">Accord de Paris</a>),
    <!-- Si deglac_yr_1_5deg_10perc_e-2km3_q50 est supérieur à 0, afficher la phrase complète -->
    {% assign deglac_year = page.deglac_yr_1_5deg_10perc_e-2km3_q50 | plus: 0 %}
    {% if deglac_year > 0 %}
        le {{ page.title }} aura presque disparu d'ici {{ deglac_year | floor }}
        ({{ deglac_year | floor | minus: page.deglac_yr_2_7deg_10perc_e-2km3_q50 | default: 0 | floor }}
        années plus tard que pour un réchauffement de 2,7°C).
        D'ici 2100, {{ page["2100_perc_1_5deg_q50"] | floor }}% du volume de 2020
        devrait rester
        ({{ page["2100_perc_1_5deg_q50"] | floor | minus: page["2100_perc_2_7deg_q50"] | floor }}%
        de plus par rapport à un réchauffement 2,7°C).
    {% else %}
        <!-- Si deglac_yr_1_5deg_10perc_e-2km3_q50 est manquant ou égal à 0, afficher uniquement la différence de volume en 2100 -->
        {{ page["2100_perc_1_5deg_q50"] | floor }}% du volume de 2020
        devrait rester
        ({{ page["2100_perc_1_5deg_q50"] | floor | minus: page["2100_perc_2_7deg_q50"] | floor }}%
        de plus par rapport à un réchauffement de 2,7°C).
    {% endif %}
</p>

<p>
<div style="border: 2px solid #000; padding: 10px; background-color: #f9f9f9; width: fit-content;">
<strong>Chaque 0,1°C évité préserve les glaciers et limite les impacts!</strong>
</div>
</p>

<div class="tab-container" id="container2">
    <!-- Tab buttons -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'Volume1', 'container2')">2,7°C</button>
        <button class="tab-button" onclick="openTab(event, 'Volume2', 'container2')">1,5°C et 2,7°C</button>
    </div>

    <!-- Tab content -->
    <div id="Volume1" class="tab-content"
         style="max-width: 800px; outline: 2px solid #e1e1e1;">
      <figure style="text-align: center; margin: 0;">
        <img src="{{ site.baseurl }}{{ page.volume_evolution_simple | replace: 'en', site.lang  }}" alt="Évolution du volume de {{ page.title }} pour 2,7°C." style="width:100%; padding:0;"/>
        <figcaption style="font-size: 14px; color: #555; margin-top: -20px;">
            Montrant l'évolution du volume de {{ page.title }} pour un réchauffement global
            de 2,7°C.
        </figcaption>
      </figure>
    </div>
    <div id="Volume2" class="tab-content"
         style="max-width: 800px; display: none; outline: 2px solid #e1e1e1;">
      <figure style="text-align: center; margin: 0;">
        <img src="{{ site.baseurl }}{{ page.volume_evolution_complex | replace: 'en', site.lang }}" alt="Volume complexe de {{ page.title }}." />
      <figcaption style="font-size: 14px; color: #555; margin-top: -20px;">
          Montrant l'évolution du volume de {{ page.title }} pour les niveaux de réchauffement global
          de 1,5°C et 2,7°C.
      </figcaption>
    </div>
</div>
<br>

<h3 id="methods">Projections Globales</h3>
<p>
    Les projections pour l'Europe centrale ne sont pas prometteuses, même pour un réchauffement limité à 1,5°C.
    Cependant, il existe des régions dans le monde où la possibilité de préserver les glaciers est beaucoup plus grande. Visitez la page des 
    <a href="{{ site.baseurl }}/regions/">"Régions"</a> pour explorer d'autres
    régions du monde et visitez la page 
    <a href="{{ site.baseurl }}/preserve/">"Comment préserver?"</a> pour vous impliquer.
</p>

<h3 id="methods">Méthodes</h3>
<p>
    Si vous êtes curieux de comprendre comment cette animation et ces chiffres ont été obtenus,
    visitez la page <a href="{{ site.baseurl }}/methods/">Méthodes</a>.
</p>

{% comment %}
{% if page.signposts %}
  <h3 id="featured-glaciers">Panneaux de signalisation mis en avant</h3>
  <ul>
    {% for signpost_featured in page.signposts %}
        {% for signpost in site.signposts %}
          {% if signpost_featured == signpost.signpost_id %}
            <li>
              <a href="{{ signpost.url }}">{{ signpost.title }}</a>, {{ signpost.location_description }}
            </li>
          {% endif %}
        {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% endcomment %}

<h3 id="photo-gallery">Galerie Photo</h3>
{% assign gallery = page.gallery %}
{% include custom-gallery.html gallery=gallery %}

<<script>
    function openTab(event, tabId, containerId) {
        // Get the container element
        const container = document.getElementById(containerId);

        // Hide all tab contents in the current container
        const tabContents = container.querySelectorAll(".tab-content");
        tabContents.forEach((content) => {
            content.style.display = "none"; // Hide all tab contents
        });

        // Remove active class from all tab buttons in the current container
        const tabButtons = container.querySelectorAll(".tab-button");
        tabButtons.forEach((button) => {
            button.classList.remove("active"); // Remove active state
        });

        // Show the selected tab content and set the active button
        container.querySelector(`#${tabId}`).style.display = "block"; // Show current tab content
        event.currentTarget.classList.add("active"); // Highlight active button
    }

    // Initialize each tab container on page load
    document.addEventListener("DOMContentLoaded", () => {
        const tabContainers = document.querySelectorAll(".tab-container");

        tabContainers.forEach((container) => {
            const defaultTabButton = container.querySelector(".tab-button.active");
            if (defaultTabButton) {
                const defaultTabId = defaultTabButton.getAttribute("onclick").split("'")[1];
                container.querySelector(`#${defaultTabId}`).style.display = "block"; // Show default tab
            }
        });
    });
</script>
