<p>
    La <b><a href="https://climateactiontracker.org/global/cat-thermometer/">
    previsione attuale delle politiche</a></b> stima un riscaldamento globale fino al 2100 di <b>2,7°C</b>,
    ben oltre l'obiettivo dell'<b><a href="https://unfccc.int/process-and-meetings/the-paris-agreement">
    Accordo di Parigi</a></b> di limitare il riscaldamento a <b>1,5°C</b>.
</p>

<div class="tab-container" id="container1">
    <!-- Tab buttons -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'Video1', 'container1')">2,7°C</button>
        <button class="tab-button" onclick="openTab(event, 'Video2', 'container1')">1,5°C</button>
        <button class="tab-button" onclick="openTab(event, 'Video3', 'container1')">1,5°C vs. 2,7°C</button>
    </div>

    <!-- Tab content -->
    <div id="Video1" class="tab-content"
         style="height: calc(100vh - 150px);">
        <video height="100%" width="auto" autoplay loop muted playsinline controls>
            <source src="{{ page.animation_27 }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="Video2" class="tab-content"
         style="height: calc(100vh - 150px); display: none;">
        <video height="100%" width="auto" autoplay loop muted playsinline controls>
            <source src="{{ page.animation_15 }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="Video3" class="tab-content" style="display: none;">
        <video width="100%" autoplay loop muted playsinline controls>
            <source src="{{ page.animation_both }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p>Tip: Turn your phone sideways.</p>
    </div>
</div>
<br>

<p>
    {{ page.title }} aveva un volume stimato di {{ page.vol2020_km3 }} km³ nel
    2020 e si prevede che sarà quasi scomparso entro
    {{ page.deglac_yr_2_7deg_10perc_e-2km3_q50 | floor }}
    (<a href="{{ site.baseurl }}/methods/#likely-range">intervallo probabile</a>:
    {{ page.deglac_yr_2_7deg_10perc_e-2km3_q17 | floor }} -
    {% if page.deglac_yr_2_7deg_10perc_e-2km3_q83 %}
        {{ page.deglac_yr_2_7deg_10perc_e-2km3_q83 | default: 0 | floor }}
    {% else %}
        dopo il 2100
    {% endif %})
    sotto un riscaldamento globale di 2,7°C
    (<a href="https://climateactiontracker.org/global/cat-thermometer/">previsione attuale delle politiche</a>).
    Definiamo <b>'quasi scomparso'</b> come l'anno in cui ci si aspetta che rimanga meno del 10% del
    volume del ghiacciaio del 2020 o meno di 0,01 km³ - qualunque
    soglia venga superata per prima.<br><br>

    <!--Comment: mostra la frase "anni dopo" solo se il ghiacciaio scompare a 1,5°C-->
    Se il riscaldamento globale è limitato a 1,5°C
    (<a href="https://unfccc.int/process-and-meetings/the-paris-agreement">Accordo di Parigi</a>),
    <!-- Se deglac_yr_1_5deg_10perc_e-2km3_q50 è maggiore di 0, mostra la frase completa -->
    {% assign deglac_year = page.deglac_yr_1_5deg_10perc_e-2km3_q50 | plus: 0 %}
    {% if deglac_year > 0 %}
        {{ page.title }} sarà quasi scomparso entro {{ deglac_year | floor }}
        ({{ deglac_year | floor | minus: page.deglac_yr_2_7deg_10perc_e-2km3_q50 | default: 0 | floor }}
        anni dopo rispetto a un riscaldamento di 2,7°C).
        Entro il 2100, ci si aspetta che rimanga il {{ page["2100_perc_1_5deg_q50"] | floor }}% del volume del 2020
        ({{ page["2100_perc_1_5deg_q50"] | floor | minus: page["2100_perc_2_7deg_q50"] | floor }}%
        in più rispetto a 2,7°C).
    {% else %}
        <!-- Se deglac_yr_1_5deg_10perc_e-2km3_q50 è assente o 0, mostra solo la differenza di volume al 2100 -->
        entro il 2100, ci si aspetta che rimanga il {{ page["2100_perc_1_5deg_q50"] | floor }}% del volume del 2020
        ({{ page["2100_perc_1_5deg_q50"] | floor | minus: page["2100_perc_2_7deg_q50"] | floor }}%
        in più rispetto a 2,7°C).
    {% endif %}
</p>

<p>
<div style="border: 2px solid #000; padding: 10px; background-color: #f9f9f9; width: fit-content;">
<strong>Ogni aumento evitato di 0,1°C salva i ghiacciai e limita gli impatti!</strong>
</div>
</p>

<div class="tab-container" id="container2">
    <!-- Tab buttons -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'Volume1', 'container2')">2,7°C</button>
        <button class="tab-button" onclick="openTab(event, 'Volume2', 'container2')">1,5°C e 2,7°C</button>
    </div>

    <!-- Tab content -->
    <div id="Volume1" class="tab-content" style="outline: 2px solid #e1e1e1;">
      <figure style="text-align: center; margin: 0;">
        <img src="{{ site.baseurl }}{{ page.volume_evolution_simple | replace: 'en', site.lang  }}" alt="Evoluzione del volume di {{ page.title }} per 2,7°C." style="width:100%; padding:0;"/>
        <figcaption style="font-size: 14px; color: #555; margin-top: -20px;">
            Mostrando l'evoluzione del volume di {{ page.title }} per un riscaldamento globale
            di 2,7°C.
        </figcaption>
      </figure>
    </div>
    <div id="Volume2" class="tab-content" style="display: none; outline: 2px solid #e1e1e1;">
      <figure style="text-align: center; margin: 0;">
        <img src="{{ site.baseurl }}{{ page.volume_evolution_complex | replace: 'en', site.lang }}" alt="Volume complesso di {{ page.title }}." />
      <figcaption style="font-size: 14px; color: #555; margin-top: -20px;">
          Mostrando l'evoluzione del volume di {{ page.title }} per riscaldamenti globali
          di 1,5°C e 2,7°C.
      </figcaption>
    </div>
</div>
<br>

<h3 id="methods">Proiezioni globali</h3>
<p>
    Le proiezioni per l'Europa centrale non sono promettenti, anche con un riscaldamento di 1,5°C.
    Tuttavia, ci sono regioni in tutto il mondo con un potenziale molto maggiore
    per salvare il ghiaccio dei ghiacciai. Visita la
    <a href="{{ site.baseurl }}/regions/">pagina "Regioni"</a> per esplorare altre
    aree in tutto il mondo e visita la
    <a href="{{ site.baseurl }}/preserve/">pagina "Come preservare"</a> per agire.
</p>

<h3 id="methods">Metodi</h3>
<p>
    Se sei curioso di sapere come è stata creata questa animazione e le figure,
    visita la pagina <a href="{{ site.baseurl }}/methods/">Metodi</a>.
</p>

<h3 id="photo-gallery">Galleria fotografica</h3>
{% assign gallery = page.gallery %}
{% include custom-gallery.html gallery=gallery %}

<script>
    function openTab(event, tabId, containerId) {
        // Ottieni l'elemento del contenitore
        const container = document.getElementById(containerId);

        // Nascondi tutti i contenuti dei tab nel contenitore corrente
        const tabContents = container.querySelectorAll(".tab-content");
        tabContents.forEach((content) => {
            content.style.display = "none"; // Nascondi tutti i contenuti dei tab
        });

        // Rimuovi la classe attiva da tutti i pulsanti dei tab nel contenitore corrente
        const tabButtons = container.querySelectorAll(".tab-button");
        tabButtons.forEach((button) => {
            button.classList.remove("active"); // Rimuovi lo stato attivo
        });

        // Mostra il contenuto del tab selezionato e imposta il pulsante attivo
        container.querySelector(`#${tabId}`).style.display = "block"; // Mostra il contenuto del tab corrente
        event.currentTarget.classList.add("active"); // Evidenzia il pulsante attivo
    }

    // Inizializza ogni contenitore di tab al caricamento della pagina
    document.addEventListener("DOMContentLoaded", () => {
        const tabContainers = document.querySelectorAll(".tab-container");

        tabContainers.forEach((container) => {
            const defaultTabButton = container.querySelector(".tab-button.active");
            if (defaultTabButton) {
                const defaultTabId = defaultTabButton.getAttribute("onclick").split("'")[1];
                container.querySelector(`#${defaultTabId}`).style.display = "block"; // Mostra il tab predefinito
            }
        });
    });
</script>

