<!-- Text in box -->
<p>
<div style="border: 2px solid #000; padding: 10px;  width: fit-content;">
  <strong>
      Avec la <a href="https://climateactiontracker.org/global/cat-thermometer/">
      politique actuelle conduisant à un réchauffement de 2,7°C</a>, nous devons malheureusement
      dire adieu à de nombreux glaciers dans les Alpes. Cependant, chaque réduction de réchauffement,
      même d'un dixième de degré, peut aider à préserver
      <a href="{{ site.baseurl }}/regions/">les glaciers du monde entier</a>
      et ainsi atténuer les impacts du changement climatique !
  </strong>
</div>
</p>

<p>
    Vous pouvez ci-dessous sélectionner certains glaciers pour voir à quoi pourrait ressembler son futur.
</p>

 <!-- Add map -->
{% assign region_bounds = '{"Alpes": [[44.9, 5.5], [47.9, 14.5]],
                            "Scandinavie": [[58.0, 4.5], [70.0, 24]],
                            "Amérique du Nord": [[46.0, -166.4], [83.0, -62.0]],
                            "Amérique du Sud": [[-53.0, -73.6], [-21, -53]],
                            "Asie Centrale": [[25.0, 56.0], [40.0, 97.0]],
                            }' %}
{% assign map_items = site.glaciers %}
{% include custom-map.html map_items=map_items region_bounds=region_bounds %}

<!-- list by Country -->
<br>
<br>
<h2 id="list-by-country">Liste par Pays</h2>

{% assign sorted_places = site.glaciers | sort: 'country_fr' %}
{% assign grouped_places = sorted_places | group_by: 'country_fr' %}

<ul>
  {% for group in grouped_places %}
      <h3 id="{{ group.name }}">{{ group.name }}</h3> <!-- Nom du pays -->
      <ul>
        {% for item in group.items %}
          <li>
              <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>,
                {% assign deglac_year_2_7deg = item.deglac_yr_2_7deg_10perc_e-2km3_q50 | plus: 0 %}
                {% if deglac_year_2_7deg > 0 %}
                presque disparu d'ici {{ deglac_year_2_7deg | floor }}
                {% else %}
                {{ item.2100_perc_2_7deg_q50 | floor }}% survivent jusqu'en 2100
                {% endif %}
          </li>
        {% endfor %}
      </ul>
  {% endfor %}
</ul>

<!-- Statistics for the Alps -->
<h2 id="alps-statistic">Statistiques pour les Alpes</h2>
<p>
<div id="textImageLayout" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;">
  <div id="textBlock" style="flex: 1; padding-right: 20px; margin-bottom: 0;">
      Parmi les environ 3 900 glaciers des Alpes d'Europe centrale, uniquement
      635 ont un volume qui est estimé supérieur à 0,01 km³ en 2020, volume équivalent à l'eau
      stockée dans 4 000 piscines olympiques.
      <br>
      <br>
      <strong>
          Nous définissons le terme 'presque disparu' comme l'année où le premier 
          des deux seuils suivants est atteint: soit il reste moins de 10%
          du volume glaciaire de 2020, soit le volume est inférieur à 0,01 km³. 
          Après le franchissement de l'un de ces seuils,
          le glacier ne sera plus perçu comme le glacier qu'il était autrefois.
      </strong>
      <br>
      <br>
      Avec un réchauffement de 2,7°C, nous estimons que plus de 577 (91%) glaciers des Alpes
      auront presque disparu avant 2100.
      <br>
      Avec un réchauffement de 1,5°C, 103 de ces 577 glaciers devraient survivre.
      <br>
      <br>
  </div>

  <!-- Image on the right side -->
  <div id="imageBlock" style="flex: 1; min-width: 200px; margin-top: 0;">
    <img src="/assets/images/others/histogram_deglaciation_comparison_two_threshold_options_fr.png" alt="Histogramme visualisant la distribution des volumes des glaciers et les années où les glaciers sont presque disparus en Europe centrale" style="width: 100%; height: auto; max-width: 500px;" />
  </div>
</div>
</p>

<!-- Make Image placement flexible -->
<style>
  #textImageLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  #textBlock {
    flex: 1;
    padding-right: 20px;
  }

  #imageBlock {
    flex: 1;
    min-width: 200px;
  }

  @media (max-width: 768px) {
    #textImageLayout {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start;
    }

    #textBlock {
      padding-right: 5px; /* Reduce padding when stacked */
    }

    #imageBlock {
      margin-top: 5px; /* Add spacing above image */
    }
  }

  @media (min-width: 769px) {
    #textImageLayout {
      align-items: flex-start;
    }
  }

  #histogram-image {
    max-width: 450px;
  }
</style>

<script>
  function adjustLayout() {
    var container = document.getElementById('content-container');
    var image = document.getElementById('histogram-image');
    var width = window.innerWidth;

    if (width < 768) {
      // Empiler le contenu verticalement sur les petits écrans
      container.style.flexDirection = 'column';
      image.style.marginTop = '0'; // Assurez-vous qu'il n'y a pas de marge supplémentaire
    } else {
      // Aligner le contenu côte à côte sur les grands écrans
      container.style.flexDirection = 'row';
      image.style.marginTop = '0'; // Retirer la marge lorsque les éléments sont côte à côte
    }
  }

  // Exécuter lors du chargement de la page
  adjustLayout();

  // Exécuter lors du redimensionnement de la fenêtre
  window.onresize = adjustLayout;
</script>
</div>
</p>

