<p>
    Vous trouverez ici une carte et une liste des panneaux actuellement installés. 
    Si vous souhaitez installer un panneau, envoyez un e-mail à : 
    <a href="mailto:wolfgang.gurgiser@uibk.ac.at">wolfgang.gurgiser[at]uibk.ac.at</a>
</p>

{% assign map_items = site.signposts %}
{% include custom-map.html %}

<br>
<br>
<h2 id="list-by-country">Liste par pays</h2>

{% assign sorted_places = site.signposts | sort: 'country_fr' %}
{% assign grouped_places = sorted_places | group_by: 'country_fr' %}

<ul>
  {% for group in grouped_places %}
      <h3 id="{{ group.name }}">{{ group.name }}</h3> <!-- Country name -->
      <ul>
        {% for item in group.items %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>, {{ item.location_description }}</li>
        {% endfor %}
      </ul>
  {% endfor %}
</ul>
