<!-- Text in box -->
<p>
<div style="border: 2px solid #000; padding: 10px;  width: fit-content;">
  <strong>
      Con la <a href="https://climateactiontracker.org/global/cat-thermometer/">
      politica attuale che porta a un riscaldamento di 2,7°C</a>, diciamo tristemente
      addio a molti ghiacciai nelle Alpi. Tuttavia, ogni decimo di grado
      ridotto nel riscaldamento può aiutare a preservare
      <a href="{{ site.baseurl }}/regions/">il ghiaccio dei ghiacciai in tutto il mondo</a>
      e mitigare gli impatti dei cambiamenti climatici!
  </strong>
</div>
</p>

<p>
    Qui sotto puoi selezionare un ghiacciaio elencato per vedere come potrebbe essere il suo futuro.
</p>

 <!-- Add map -->
{% assign region_bounds = '{"Alpi": [[44.9, 5.5], [47.9, 14.5]],
                            "Scandinavia": [[58.0, 4.5], [70.0, 24]],
                            "America del Nord": [[46.0, -166.4], [83.0, -62.0]],
                            "America del Sud": [[-53.0, -73.6], [-21, -53]],
                            "Asia Centrale": [[25.0, 56.0], [40.0, 97.0]],
                            }' %}
{% assign map_items = site.glaciers %}
{% include custom-map.html map_items=map_items region_bounds=region_bounds %}

<!-- list by Country -->
<br>
<br>
<h2 id="list-by-country">Elenco per Paese</h2>

{% assign sorted_places = site.glaciers | sort: 'country_it' %}
{% assign grouped_places = sorted_places | group_by: 'country_it' %}

<ul>
  {% for group in grouped_places %}
      <h3 id="{{ group.name }}">{{ group.name }}</h3> <!-- Nome del paese -->
      <ul>
        {% for item in group.items %}
          <li>
              <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>,
                {% assign deglac_year_2_7deg = item.deglac_yr_2_7deg_10perc_e-2km3_q50 | plus: 0 %}
                {% if deglac_year_2_7deg  > 0 %}
                quasi scomparso entro il {{ deglac_year_2_7deg  | floor }}
                {% else %}
                {{ item.2100_perc_2_7deg_q50 | floor }}% sopravviveranno fino al 2100
                {% endif %}
          </li>
        {% endfor %}
      </ul>
  {% endfor %}
</ul>

<!-- Statistics for the Alps -->
<h2 id="alps-statistic">Statistiche per le Alpi</h2>
<p>
<div id="textImageLayout" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;">
  <div id="textBlock" style="flex: 1; padding-right: 20px; margin-bottom: 0;">
      Dei circa 3.900 ghiacciai nelle Alpi in Europa centrale, solo
      circa 635 hanno un volume stimato superiore a 0,01 km³ nel 2020, equivalente all'acqua
      immagazzinata in 4.000 piscine olimpiche.
      <br>
      <br>
      <strong>
          Definiamo un ghiacciaio come 'quasi scomparso' nell'anno in cui si prevede 
        che ne resti meno del 10% del volume del 2020 o meno di 0,01 km³, 
        a seconda di quale soglia venga raggiunta per prima. Oltre questo limite, il 
        ghiacciaio perderà la sua identità originaria e non sarà più riconoscibile come tale.
      </strong>
      <br>
      <br>
      Con un riscaldamento di 2,7°C, si stima che più di 577 (91%) ghiacciai nelle Alpi
      saranno quasi scomparsi prima del 2100.
      <br>
      Con un riscaldamento di 1,5°C, si prevede che 103 di questi 577 ghiacciai sopravviveranno.
      <br>
      <br>
  </div>

  <!-- Image on the right side -->
  <div id="imageBlock" style="flex: 1; min-width: 200px; margin-top: 0;">
    <img src="/assets/images/others/histogram_deglaciation_comparison_two_threshold_options_it.png" alt="Istogramma che visualizza la distribuzione del volume dei ghiacciai e gli anni in cui i ghiacciai sono quasi scomparsi in Europa centrale" style="width: 100%; height: auto; max-width: 500px;" />
  </div>
</div>
</p>

<!-- Make Image placement flexible -->
<style>
  #textImageLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  #textBlock {
    flex: 1;
    padding-right: 20px;
  }

  #imageBlock {
    flex: 1;
    min-width: 200px;
  }

  @media (max-width: 768px) {
    #textImageLayout {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: flex-start;
    }

    #textBlock {
      padding-right: 5px; /* Reduce padding when stacked */
    }

    #imageBlock {
      margin-top: 5px; /* Add spacing above image */
    }
  }

  @media (min-width: 769px) {
    #textImageLayout {
      align-items: flex-start;
    }
  }

  #histogram-image {
    max-width: 450px;
  }
</style>

<script>
  function adjustLayout() {
    var container = document.getElementById('content-container');
    var image = document.getElementById('histogram-image');
    var width = window.innerWidth;

    if (width < 768) {
      // Impilare il contenuto verticalmente su schermi piccoli
      container.style.flexDirection = 'column';
      image.style.marginTop = '0'; // Assicurarsi che non ci sia spazio extra
    } else {
      // Allineare il contenuto orizzontalmente su schermi larghi
      container.style.flexDirection = 'row';
      image.style.marginTop = '0'; // Rimuovere lo spazio quando affiancati
    }
  }

  // Esegui al caricamento della pagina
  adjustLayout();

  // Esegui al ridimensionamento della finestra
  window.onresize = adjustLayout;
</script>
</div>
</p>

