<p>
    Qui troverete una mappa e un elenco dei cartelli attualmente installati. 
    Se siete interessati a installare un cartello, inviate un'e-mail a: 
    <a href="mailto:wolfgang.gurgiser@uibk.ac.at">wolfgang.gurgiser[at]uibk.ac.at</a>
</p>

{% assign map_items = site.signposts %}
{% include custom-map.html %}

<br>
<br>
<h2 id="list-by-country">Elenco per paese</h2>

{% assign sorted_places = site.signposts | sort: 'country_it' %}
{% assign grouped_places = sorted_places | group_by: 'country_it' %}

<ul>
  {% for group in grouped_places %}
      <h3 id="{{ group.name }}">{{ group.name }}</h3> <!-- Country name -->
      <ul>
        {% for item in group.items %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>, {{ item.location_description }}</li>
        {% endfor %}
      </ul>
  {% endfor %}
</ul>
