<p>
    Hier findest du eine Karte und eine Liste der derzeit installierten Wegweiser. 
    Wenn du daran interessiert bist, einen Wegweiser aufzustellen, schreib eine E-Mail an: 
    <a href="mailto:patrick.schmitt@uibk.ac.at">patrick.schmitt[at]uibk.ac.at</a>
</p>

<!-- Add map -->
{% assign region_bounds = '{"Alps": [[45.9, 5.5], [48.9, 14.5]],
                            "Scandinavia": [[58.0, 4.5], [70.0, 24]],
                            "Northern Europa": [[52, -11], [56, 18]],
                            }' %}
{% assign map_items = site.signposts %}
{% include custom-map.html map_items=map_items region_bounds=region_bounds %}

<br>
<br>
<h2 id="list-by-country">Liste nach Ländern</h2>

{% assign sorted_places = site.signposts | sort: 'country_de' %}
{% assign grouped_places = sorted_places | group_by: 'country_de' %}

<ul>
  {% for group in grouped_places %}
      <h3 id="{{ group.name }}">{{ group.name }}</h3> <!-- Country name -->
      <ul>
        {% for item in group.items %}
          <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title_de }}</a>, {{ item.location_description_de }}</li>
        {% endfor %}
      </ul>
  {% endfor %}
</ul>
