---
layout: single
---
<p style="margin-top: -30px;"> {{ page.title }} has an estimated volume of {{ page.vol2020_km3 }} km³ in 2020. </p>

<div class="video-container">
  <video id="myVideo" autoplay loop muted playsinline>
    <source src="{{ page.animation_simple | relative_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

<script>
  const video = document.getElementById('myVideo');

  // Show controls when the user interacts (taps/clicks) with the video
  video.addEventListener('click', () => {
    video.setAttribute('controls', 'controls');
  });

</script>

<p> {{ page.title }} will be mostly gone by {{ page.deglac_yr_2_7deg_10perc_q50 | floor }} (<a href="{{ site.baseurl }}/methods/#likely-range">likely range</a>: {{ page.deglac_yr_2_7deg_10perc_q17 | floor }} - {% if page.deglac_yr_2_7deg_10perc_q83 %}{{ page.deglac_yr_2_7deg_10perc_q83 | default: 0 | floor }}{% else %}after 2100{% endif %}
) with + 2.7°C global warming (<a href="https://climateactiontracker.org/global/cat-thermometer/">current policy prediction</a>). This year, called the <b>deglaciation year</b>, marks the point when less than 10% of the glacier's 2020 volume is expected to remain.</p>

<div class="accordion">
  <!-- Simple Analysis -->
  <h3 class="accordion-header">Click for volume evolution for +2.7°C</h3>
  <div class="accordion-content">
    <p> Showing the volume evolution of {{ page.title }} for a global warming level of +2.7°C.</p>
    <img src="{{ site.baseurl }}{{ page.volume_evolution_simple }}" alt="Volume evolution of {{ page.title }} for 2.7°C." />
  </div>

  <!-- Intermediate Analysis -->
  <h3 class="accordion-header">Click for volume evolution for +1.5°C and +2.7°C</h3>
  <div class="accordion-content">
    <p> Showing the volume evolution of {{ page.title }} for global warming levels of +1.5°C and +2.7°C.</p>
    <img src="{{ site.baseurl }}{{ page.volume_evolution_complex }}" alt="Volume complex of {{ page.title }}." />
  </div>

</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var headers = document.querySelectorAll(".accordion-header");

    headers.forEach(function(header) {
      header.addEventListener("click", function() {
        // Toggle the 'active' class to open/close the accordion content
        var content = this.nextElementSibling;
        content.style.display = content.style.display === "block" ? "none" : "block";
      });
    });
  });
</script>

<p> Regional and global glacier projections are available from the <a href="{{ site.baseurl }}/regions/">Regions page</a>.
</p>

<p>If you want to learn how this animation and the figures were created, check out the <a href="{{ site.baseurl }}/methods/">Methods</a>.</p>

{% if page.signposts %}
  <h1 id="featured-glaciers">Featured Signposts</h1>
  <ul>
    {% for signpost_featured in page.signposts %}
        {% for signpost in site.signposts %}
          {% if signpost_featured == signpost.signpost_id %}
            <li>
              <a href="{{ signpost.url }}">{{ signpost.title }}</a>, {{ signpost.location_description }}
            </li>
          {% endif %}
        {% endfor %}
    {% endfor %}
  </ul>
{% endif %}

<h1 id="photo-gallery">Photo Gallery</h1>
{% include custom-gallery.html gallery=page.gallery %}
