---
layout: single
---
<p style="margin-top: -30px;"> {{ page.description }}  </p>

<h1 id="featured-glaciers">Featured Glaciers</h1>
<ul>
  {% for glacier_featured in page.glaciers %}
      {% for glacier in site.glaciers %}
        {% if glacier_featured == glacier.rgi_id %}
          <li>
            <a href="{{ glacier.url }}">{{ glacier.title }}</a>, mostly gone by {{ glacier.deglac_yr_2_7deg_10perc_q50 | floor }}
          </li>
        {% endif %}
      {% endfor %}
  {% endfor %}
</ul>

<h1 id="photo-gallery">Photo Gallery</h1>
{% include custom-gallery.html gallery=page.gallery %}

